### Importing the depencies

In [17]:
import pandas as pd

#### Importing the Datasets using pandas library

In [18]:
job_data = pd.read_csv('F:/Resume and Job Posting matcher/Datasets/Job description dataset.csv')
resume_data = pd.read_csv('F:/Resume and Job Posting matcher/Datasets/Resume dataset.csv')

##### Doing EDA on the job description dataset

In [19]:
job_data.head()

,Unnamed: 0,Job Title,Job Description
0,0,Flutter Developer,We are looking for hire experts flutter develo...
1,1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n..."
3,3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...
4,4,Full Stack Developer,job responsibility full stack engineer – react...

In [20]:
job_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277 entries, 0 to 2276
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2277 non-null   int64
 1   Job Title        2277 non-null   object
 2   Job Description  2277 non-null   object
dtypes: int64(1), object(2)
memory usage: 53.5+ KB

In [21]:
job_data.drop(columns='Unnamed: 0', axis=1, inplace=True) ## Droping the unnecessary column

In [22]:
job_data.head(1)

           Job Title                                    Job Description
0  Flutter Developer  We are looking for hire experts flutter develo...

In [23]:
job_data.isnull().sum()## we can conclude that there are no NULL values in dataset

Job Title          0
Job Description    0
dtype: int64

In [24]:
job_data.duplicated().sum() ## checking if any duplicate rows exist

0

### We can join the Job Title column and Job Description as one column for convenience

In [25]:
job_data['Job Description'] = job_data['Job Title'] + ' ' + job_data['Job Description']
job_data.head(1)

           Job Title                                    Job Description
0  Flutter Developer  Flutter Developer We are looking for hire expe...

In [26]:
job_data.drop(columns='Job Title', axis=1, inplace=True)

In [27]:
job_data.head(1)

                                     Job Description
0  Flutter Developer We are looking for hire expe...

#### Doing EDA on Resume dataset

In [28]:
resume_data.head(2)

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...

In [29]:
resume_data.shape

(962, 2)

In [30]:
resume_data.info()## there are no NULL values in this dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  962 non-null    object
 1   Resume    962 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB

#### We can join category and Resume column as we don't need Category column for our Project

In [31]:
resume_data['Resume'] = resume_data['Category'] + ' ' +resume_data['Resume']
resume_data.drop(columns='Category', axis=1, inplace=True)

In [32]:
resume_data.head(2)

                                              Resume
0  Data Science Skills * Programming Languages: P...
1  Data Science Education Details \r\nMay 2013 to...

### Cleaning the data and processing them to be useful for Training the model

##### Spacy is one of famous Natural language processing library

In [33]:
import spacy
import re

In [34]:
nlp = spacy.load('en_core_web_sm')

In [35]:
# removing stopwors ex:['the', 'are', 'is'] which are not meaningful for trainning and also removing punctuations
def processing(content):
    doc = nlp(content)
    processed_tokens = [
        token.lemma_ for token in doc 
        if not token.is_stop and not token.is_punct and not token.is_space
    ]
    
    processed_text = ' '.join(processed_tokens)
    processed_text= re.sub(r'[^A-Za-z0-9\s]', '', processed_text)
    return processed_text.lower()

In [36]:
## example
text = job_data.iloc[0].apply(processing)
print(text)

Job Description    flutter developer look hire expert flutter dev...
Name: 0, dtype: object

In [37]:
job_data['Job Description'] = job_data['Job Description'].apply(processing)
resume_data['Resume'] = resume_data['Resume'].apply(processing)

In [38]:
job_data.head(1)

                                     Job Description
0  flutter developer look hire expert flutter dev...

#### Saving them in a different files for Model Training

In [45]:
processed_data = pd.DataFrame({'Resume':resume_data['Resume']})
processed_data.to_csv('F:/Resume and Job Posting matcher/Processed dataset/job.csv')

In [46]:
processed_data_job_des = pd.DataFrame({'Job Descriptions':job_data['Job Description']})
processed_data_job_des.to_csv('F:/Resume and Job Posting matcher/Processed dataset/job.csv')